---
import cloudinary from "../lib/cloudinary";
import CldImage from "./CldImage.astro";
import { cn } from "../lib/utils";
import ResponsiveImg from "./ResponsiveImg.astro";
const { resources: images } = await cloudinary.v2.search
    .expression(`folder:${import.meta.env.CLOUDINARY_FOLDER}/*`)
    .sort_by("uploaded_at", "desc")
    .max_results(20)
    .execute();
interface Props {
    filename: string;
}
const { filename: selected } = Astro.props;
const selectedImage = images.find(({ filename }) => filename === selected);
const currentIndex = images.indexOf(selectedImage);
---

<div class="flex flex-row flex-wrap">
    <!-- Full Image -->
    <div class="w-full">
        {
            selectedImage && (
                <div
                    style={{
                        viewTransitionName: `images-${selectedImage.public_id}`,
                    }}
                    class="@container"
                >
                    <ResponsiveImg
                        src={selectedImage.public_id}
                        alt=""
                        active
                    />
                </div>
            )
        }
    </div>
    <!-- Image grid -->
    <div class="@container flex border w-full">
        {
            images
                .filter(({ filename }) => filename !== selected)
                .map(({ filename, public_id }) => (
                    <div
                        style={{ viewTransitionName: `images-${public_id}` }}
                        class="@container @md:w-1/2 @3xl:w-1/4 p-1"
                    >
                        <a href={`/full/${filename}`}>
                            <ResponsiveImg
                                src={public_id}
                                alt=""
                                active={false}
                            />
                        </a>
                    </div>
                ))
        }
    </div>
</div>
